:root {
  --primary-background: #06071b;
  --color-white: #f6f7f7;
  --text-color: #ffffff;
  --text-dark-color: #000;
  --left-color-gradient: #00c5eb;
  --right-color-gradient: #b544fe;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p,
ul,
a {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-dark-color);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  /* font-family: 'Montserrat', sans-serif; */
}

/* .top {

  background-color: var(--primary-background);
  color: var(--color-white);
  padding-top: 26px;
} */
.header {
  align-items: center;
  width: 100%;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}
.header-content {
  position: relative;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}
.header-list .item {
  padding-top: 28px;
  padding-bottom: 29px;
}
.header-list .item:not(:last-child) {
  margin-right: 40px;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 145px;
}

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.208;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.logo {
  font-weight: 400;
  font-size: 28px;
  color: var(--text-color);
  line-height: 1.21;
  margin-right: auto;
  text-decoration: none;
}
ul {
  list-style: none;
}
.hero {
  background-color: var(--primary-background);
  color: var(--color-white);
  padding-top: 26px;
  padding-bottom: 146px;
}
.hero-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 12px;
}
.hero .button {
  display: block;
  background: linear-gradient(to right, var(--left-color-gradient), var(--right-color-gradient));
  width: 200px;
  height: 42px;
  border-radius: 5px;
  margin-top: 60px;
}
.hero-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 28px;
}
.hero-list .item::before {
  display: inline-block;
  content: url(../images/more.png);
  margin-right: 9.4px;
}
.hero-list .item:not(:last-child) {
  margin-bottom: 12px;
}

.heroelements {
  /* display: block;
  width: 295.13px; */
  position: absolute;
  top: 71.44px;
  right: 0px;
  /* transform: translate(0%, -50%); */
}
.heromini {
  position: absolute;
  top: 182px;
  left: 52px;
}
.section {
  padding-top: 80px;
}
.graph-container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
}
.features {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 20px 152px 100px;
  text-align: center;
  overflow: hidden;
}

.features .title {
  margin-bottom: 80px;
}
/* .features .background {
  position: absolute;
  top: 80px;
  left: 0px;
  opacity: 0.75;
} */
.features .background1 {
  position: absolute;
  top: 79.7px;
  left: 0px;
  opacity: 0.75;
}
.features .background2 {
  position: absolute;
  top: 47px;
  right: 12px;
  opacity: 1;
}
.features .text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 80px;
}
.features .details {
  display: flex;
  flex-direction: column;
  width: 259px;
  text-align: left;
}
.features .flex {
  display: flex;
  justify-content: space-between;
}
.features .short {
  display: flex;
  align-items: center;
}
.features .short:before {
  display: block;
  content:url(../images/nft.png);
  margin-right: 12px;
}
.features .info {
  margin-left: 40px;
  font-size: 14px;
  line-height: 1.214;
}
.details .item:nth-child(1) {
  margin-top: 61px;
}
.details .item:not(:last-child) {
  margin-bottom: 80px;
}
.details .image {
  display: block;
  margin-right: 12px;
}
.video {
  background-color: #06071b;
  padding-top: 60px;
  padding-bottom: 98px;
}
.video-container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.video .title {
  text-align: left;
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.208;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.video .text {
  color: var(--text-color);
  width: 479px;
  fong-size: 16px;
  line-height: 1.1875;
  margin-bottom: 40px;
}
.video-image {
  position: absolute;
  top: 0px;
  right: 121px;
}
.video-image2 {
  position: absolute;
  right: 50px;
  top: -150px;
}
.videobutton {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  /* background: linear-gradient(to right, var(--left-color-gradient), var(--right-color-gradient)); */
}

.videobutton:nth-child(1) {
  margin-right: 20px;
}
.portraits {
  display: flex;
  gap: 32px;
}
.portraits .item {
  width: 288px;
  height: 364px;
  border-radius: 15px;
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
}
.portraits .itemb {
  width: 288px;
  height: 364px;
  border-radius: 15px;
  border-radius: 15px;
  background: linear-gradient(
      105.09deg,
      rgba(0, 197, 235, 0.5) -13.66%,
      rgba(181, 68, 254, 0.5) 104.34%
    ),
    #06071b;
}
.descriptor {
  margin: 0 197px;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.port {
  margin-top: 14px;
  margin-left: 12px;
  border-radius: 19px;
}
.container.customer {
  text-align: center;
}

.sell {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;

  margin-top: 100px;
  margin-bottom: 50px;
}
.sell .item {
  width: 100px;
  margin-right: 100px;
}
.sell .subitem {
  width: 100px;
  display: none;
}
.sell .item:hover .subitem{
  display: block;
}
.sell .subitem2 {
  display: none;
}
.subitem .item2:hover .subitem2 {
  display: block;
}